
body {
  margin: 0;
  /* background: #6a8faa; */
  color: #161616;
  background: linear-gradient(135deg, #111111 0%, #aaa8a0c0 100%);
  font-family: "Euclid Circular B", "Poppins";
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

.page {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
}